.profile-avatar-div {
    background-color: rgb(236, 95, 95);
    color: rgb(255, 255, 255);
    position: relative;
    left: 1%;
    top: 5%;
    height:90%;
    width: 9%;
    border-radius: 50%;
    text-align: center;
    line-height:300%;
    font-size: 150%;
}