.chat-div {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: 2em;
    left: 3em;
    width: 52em;
    height: 44em;
    background-color: #faffad;
    overflow-y: auto;
}