.chat-menu-div {
    position: relative;
    top: 3em;
    left: 6em;
    width: 60em;
    height: 58em;
    background-color: #faffad;
    border-radius: 2em;
}

.chat-menu-outer-div {
    display: flex;
}
